* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #40679E;


}

body {
  background-color: #40679E;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  text-align: center;
  margin: o auto;
}

.book__container {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-direction: column;
}

.books__map {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.333333%;
  margin: 0 10% 0px 15%;
  overflow-x: hidden;
}

.exact__div--book {
  margin: 40px 10px 0px 10px;
}

.books__map title {
  margin: 90px auto 40px auto !important;
  font-weight: bolder;
}

.books__map .desc {
  width: 210px;
  margin: 20px auto 5px auto;
  color: #FF6868;
}

.author {
  color: #FF6868;
  margin: 0px 0px 20px 0px;
}